@font-face {
  font-family: "Bellefair";
  src: url("/assets/fonts/Bellefair-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/assets/fonts/BarlowCondensed-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/assets/fonts/BarlowCondensed-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
